.navbar {
  display: flex;
  // justify-content: center;
  background-color: orangered;
  color: white;
  // flex-direction: column;
  //this line below fixed the bug of responsiveness
  flex-direction: row;
  align-items: center;
  transition: 0.5s all ease-in-out;
  position: sticky;
  top: 0;
  // height: 80px;
  z-index: 999;

  &.active {
    background: white;
    color: black;
  }
  .container {
    width: 1300px;
    display: flex;
    justify-content: space-between;
    // gap: 20px 0;
    padding: 20px 0;
    align-items: center;
    //Trying to have responsiveness
    // justify-content: flex-start; /* Start from the left */
    align-items: center;
    flex-wrap: nowrap; /* Prevent wrapping */
    margin: 0 20px;
    .logo {
      font-size: 35px;
      font-weight: bold;
      padding-right: 20px;
      .kitchen {
      }
      .genie {
        color: rgb(2, 2, 72);
      }
    }
    .links {
      display: flex;
      // padding: 0 25px 0 0;
      gap: 20px;
      font-weight: 500;
      align-items: center;
      font-family: "Montserrat", sans-serif;
      cursor: pointer;
      .user {
        display: flex;
        align-items: center;
        gap: 10px;
        position: relative;
        img {
          width: 35px;
          height: 35px;
          border-radius: 50%;
          object-fit: cover;
        }
        .options {
          position: absolute;
          top: 50px;
          right: 0;
          border: 1px solid gray;
          display: flex;
          flex-direction: column;
          color: gray;
          padding: 20px;
          background-color: white;
          border-radius: 10px;
          gap: 5px;
          width: 200px;
          font-weight: 200;
        }
      }
      button {
        padding: 10px 20px;
        color: white;
        border-radius: 5px;
        border: solid 1px white;
        background: transparent;
        cursor: pointer;
        &:hover {
          background: orange;
          border: orange;
          transition: 0.5s all ease-in-out;
        }
      }
    }
  }
  hr {
    // width: 100%;
    // border: gray 1px solid;
    width: calc(100% - 2px);
    height: 0;
    border-top: 0.5px solid #ebe9e9;
    border-bottom: 0.5px solid #ebe9e9;
  }
  .menu {
    width: 1300px;
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
    font-weight: 300;
    font-family: "Montserrat", sans-serif;
    color: gray;
  }
  // @media (max-width: 1250px) {
  //   .container {
  //     // flex-wrap: wrap; /* Allow wrapping when width is restricted */
  //     justify-content: flex-start; /* Start from the left */
  //     padding: 20px; /* Adjust padding for smaller screens */
  //   }
  // }
}
