.partners {
  background-color: #fafafa;
  //   height: 200px;
  display: flex;
  justify-content: center;
  gap: 20px;
  span {
    // font-weight: 700;
    // font-size: 30px;
    // margin: 40px;
    font: bold 1rem/1rem "Renner", sans-serif;
    color: #333;
    letter-spacing: 1px;
    margin: 0 20px 3.25rem;
    padding-top: 3.8rem;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
  }
  .container {
    // width: 750px;
    width: 1300px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 2.375rem 0;
    margin: 0 20px;
    img {
      //   width: 50px !important;
      height: 80px;
    }
  }
}
