.collage {
  display: flex;
  justify-content: center;
  padding: 100px 0px;
  .container {
    width: 1400px;
    position: relative;
    .bigContainer {
      border: 1px solid black;
      height: 446px;
      width: 520px;
      margin: 2px;
      // background-color: blue;
      display: flex;
      overflow: hidden;

      .smallContainer {
        flex-grow: 1;
        // background-color: green;
        position: relative;
        overflow: hidden;

        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }

        .overlay {
          /* Styling for the overlay */
        }

        .desc {
          position: absolute;
          bottom: 10px;
          left: 10px;
          /* Additional styling for the description span */
        }

        .title {
          position: absolute;
          bottom: 30px;
          left: 10px;
          /* Additional styling for the title span */
        }
      }
    }

    .bigContainerTwo {
      height: 446px;
      width: 520px;
      margin: 2px;
      display: flex;
      flex-direction: column;
      overflow: hidden;

      .smallerContainer {
        flex-grow: 1;
        overflow: hidden;
        border: 1px solid black;
        position: relative; /* Add this to create a positioning context */
        overflow: hidden;

        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }

        .overlay {
          /* Styling for the overlay */
        }

        .desc {
          position: absolute;
          bottom: 10px;
          left: 10px;
          /* Additional styling for the description span */
        }

        .title {
          position: absolute;
          bottom: 30px;
          left: 10px;
          /* Additional styling for the title span */
        }
      }

      .first {
        margin-bottom: 4px;
      }
    }

    .carousel-initialized {
      position: static;
    }

    .carousel-prev,
    .carousel-next {
      width: 45px;
      height: 45px;
      background-color: rgb(243, 243, 243);
      border-radius: 50%;
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
    }

    .carousel-prev {
      left: -25px;
    }
  }
}
