.collage {
  display: flex;
  flex-direction: row;

  .bigContainer {
    border: 1px solid black;
    height: 446px;
    width: 520px;
    margin: 2px;
    background-color: blue;
    display: flex;
    overflow: hidden;

    .smallContainer {
      flex-grow: 1;
      background-color: green;
      position: relative; /* Add this to create a positioning context */
      overflow: hidden;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }

      .overlay {
        /* Styling for the overlay */
      }

      .desc {
        position: absolute;
        bottom: 10px;
        left: 10px;
        /* Additional styling for the description span */
      }

      .title {
        position: absolute;
        bottom: 30px;
        left: 10px;
        /* Additional styling for the title span */
      }
    }
  }

  .bigContainerTwo {
    height: 446px;
    width: 520px;
    margin: 2px;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .smallerContainer {
      flex-grow: 1;
      overflow: hidden;
      border: 1px solid black;
      position: relative; /* Add this to create a positioning context */
      overflow: hidden;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }

      .overlay {
        /* Styling for the overlay */
      }

      .desc {
        position: absolute;
        bottom: 10px;
        left: 10px;
        /* Additional styling for the description span */
      }

      .title {
        position: absolute;
        bottom: 30px;
        left: 10px;
        /* Additional styling for the title span */
      }
    }

    .first {
      margin-bottom: 4px;
    }
  }
}
