.banner {
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  // background-color: gray;
  color: orangered;
  // overflow: hidden; /* Add this line to hide the overflow caused by the absolute positioned background */
  position: relative;

  .bg {
    // height: 100%;
    position: absolute;
    top: 0;
    // left: 0;
    // margin: 0;
    z-index: -1; /* Move the background behind the container */
    background-size: cover;
    margin: auto;
    display: flex;
    // align-items: center;
    justify-content: center;
    max-width: 1400px;
    img {
      height: 100%;
      object-fit: contain;
      // object-fit: cover;
      width: 100%;
      max-width: 1350px !important;
    }
  }
  .container {
    width: 1400px;
    display: flex;
    align-items: center;
    // position: relative;
    // margin: 0;
    // padding: 0;
    min-height: 100vh;

    // .bgLeft {
    //   height: 100%;
    //   width: 50%;
    //   position: absolute;
    //   top: 0;
    //   left: 0;

    //   img {
    //     height: 100%;
    //     object-fit: cover;
    //   }
    // }

    .center {
      z-index: 1;
      display: flex;
      flex-direction: column;
      gap: 30px;
      margin: auto; /* Add this line to center the .center element */
      position: relative; /* Add this line to establish a new stacking context */
      h1 {
        font-size: 50px;
        margin: 0 20px;
        i {
          font-weight: 300;
          text-rendering: optimizeLegibility;
        }
      }
      .search {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        border-radius: 5px;
        margin: 0 20px;
        .searchInput {
          display: flex;
          gap: 10px;
          flex-grow: 1;
          align-items: center;

          img {
            width: 20px;
            height: 20px;
            margin: 10px;
          }
          input {
            // border: black solid 1px;
            // outline: black;
            // max-width: 630px;
            width: 100%;
            font-size: 18px;
            // width: 735px;
            height: 50px;
            border: transparent;
            outline: transparent;
          }
        }
        button {
          width: 100px;
          height: 50px;
          background-color: orange;
          font-size: 18px;
          color: white;
          cursor: pointer;
          border: transparent;
          &:hover {
            background: rgb(255, 34, 0);
            border: orange;
          }
        }
      }
      .popular {
        display: flex;
        align-items: center;
        gap: 10px;
        flex-wrap: wrap;
        margin: 0 20px;
        text-rendering: optimizeLegibility;
        span {
          font-weight: bold;
          color: black;
          font-size: 18px;
          margin: 0 20px;
          text-rendering: optimizeLegibility;
          font-weight: bold;
        }
        button {
          background-color: transparent;
          color: white;
          border: 1px solid white;
          border-radius: 20px;
          padding: 5px 10px;
          font-size: 18px;
          cursor: pointer;
          text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
          &:hover {
            background: rgb(255, 34, 0);
            border: orange;
          }
        }
      }
    }
  }
}
